$bg-white: #fff;
$bg-valid-color: #4caf5033;
$bg-invalid-color: #ca58581f;
$border-style: 1px solid rgba(0,0,0,.0975);
$item-color: #262626;
$item-color-text: #a1a1a1;
$valid-color-text: #356d35;
$invalid-color-text: #a25f5f;
$font-w_600: 600;
$font-w_500: 500;
$font-s_15: 15px;
$font-s_14: 14px;
$bg-entry-section-color: #fafafa;

a:hover {
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

p {
  margin: 0;
}

