$bg-white: #fff;
$border-style: 1px solid rgba(0,0,0,.0975);
$item-color: #262626;
$font-w_600: 600;
$font-s_15: 15px;
$bg-entry-section-color: #fafafa;

a:hover {
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

p {
  margin: 0;
}

